/* line 1, ../../src/sass/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/sass/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 10, ../../src/sass/_layout.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, ../../src/sass/_layout.scss */
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif !important;
  font-size: 100% !important;
}

/* line 28, ../../src/sass/_layout.scss */
a {
  text-decoration: none;
}

/* line 32, ../../src/sass/_layout.scss */
button {
  cursor: pointer;
}

/* line 36, ../../src/sass/_layout.scss */
.clear-both {
  clear: both;
}

/* line 1, ../../src/sass/_components.scss */
.mainView {
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  padding: 2rem 3rem;
  position: relative;
}
/* line 9, ../../src/sass/_components.scss */
.mainView:hover .skip {
  opacity: 1;
}
/* line 13, ../../src/sass/_components.scss */
.mainView #framer {
  margin: 0 auto;
  width: 425px;
  height: 425px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
/* line 21, ../../src/sass/_components.scss */
.mainView #framer #wrapper {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 30, ../../src/sass/_components.scss */
.mainView #framer #wrapper p {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  line-height: 1.3;
}
/* line 37, ../../src/sass/_components.scss */
.mainView #framer #wrapper #character {
  font-weight: 600;
}
/* line 41, ../../src/sass/_components.scss */
.mainView #framer #wrapper .one-character {
  font-size: 9rem;
}
/* line 45, ../../src/sass/_components.scss */
.mainView #framer #wrapper .two-characters {
  font-size: 7rem;
  margin-top: 1rem;
}
/* line 50, ../../src/sass/_components.scss */
.mainView #framer #wrapper .three-characters {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
/* line 56, ../../src/sass/_components.scss */
.mainView #framer #wrapper .four-characters {
  font-size: 5rem;
  margin-top: 1rem;
}
/* line 61, ../../src/sass/_components.scss */
.mainView #framer #wrapper .kunyomi-one-character {
  font-size: 3.4rem;
}
/* line 65, ../../src/sass/_components.scss */
.mainView #framer #wrapper .kunyomi-two-characters {
  font-size: 2.8rem;
}
/* line 69, ../../src/sass/_components.scss */
.mainView #framer #wrapper #kunyomi {
  font-weight: 400;
}
/* line 73, ../../src/sass/_components.scss */
.mainView #framer #wrapper #meaning {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 3;
  letter-spacing: 1px;
}
/* line 82, ../../src/sass/_components.scss */
.mainView .skip {
  font-size: 0.9rem;
  margin-top: 1rem;
  float: right;
  position: absolute;
  width: 425px;
  text-align: center;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
}
/* line 95, ../../src/sass/_components.scss */
.mainView .skip button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  float: right;
}
/* line 104, ../../src/sass/_components.scss */
.mainView .skip button:hover {
  box-shadow: 0px 0px 5px #fff;
}

/* line 111, ../../src/sass/_components.scss */
#settings {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* line 123, ../../src/sass/_components.scss */
#settings:hover {
  box-shadow: 0px 0px 5px #fff;
}
/* line 127, ../../src/sass/_components.scss */
#settings img {
  width: 100%;
  position: relative;
}

/* line 133, ../../src/sass/_components.scss */
#settings-menu {
  background: white;
  border: 1px solid lightgrey;
  width: 15rem;
  position: absolute;
  top: 15px;
  right: 55px;
  display: none;
  font-size: 0.8rem;
  z-index: 100;
}
/* line 144, ../../src/sass/_components.scss */
#settings-menu .settings-link {
  display: block;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  cursor: pointer;
}
/* line 151, ../../src/sass/_components.scss */
#settings-menu #picker-wrapper {
  height: 0;
  background: white;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  border-bottom: 1px solid lightgrey;
}
/* line 161, ../../src/sass/_components.scss */
#settings-menu #picker-wrapper .picker {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
/* line 168, ../../src/sass/_components.scss */
#settings-menu #picker-wrapper .colpick {
  background: white !important;
  border: none !important;
  border-radius: 0 !important;
}
/* line 175, ../../src/sass/_components.scss */
#settings-menu #memorize-info {
  background: #F1F1F1;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgrey;
}
/* line 180, ../../src/sass/_components.scss */
#settings-menu #memorize-info input {
  float: left;
  margin-right: 1rem;
  margin-top: 0.8rem;
}
/* line 186, ../../src/sass/_components.scss */
#settings-menu #memorize-info p {
  float: left;
}
/* line 191, ../../src/sass/_components.scss */
#settings-menu #list-wrapper {
  height: 0;
  opacity: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  overflow: hidden;
}
/* line 200, ../../src/sass/_components.scss */
#settings-menu #list-wrapper p {
  padding: 0.5rem 1rem;
  background: #F1F1F1;
  border-bottom: 1px solid lightgrey;
  margin: 0;
}
/* line 208, ../../src/sass/_components.scss */
#settings-menu .show-picker {
  opacity: 1 !important;
  height: 15rem !important;
}
/* line 213, ../../src/sass/_components.scss */
#settings-menu .show-list {
  opacity: 1 !important;
  height: 30rem !important;
  overflow: scroll !important;
}

/* line 220, ../../src/sass/_components.scss */
.info-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
}
/* line 233, ../../src/sass/_components.scss */
.info-icon:hover {
  box-shadow: 0px 0px 5px #fff;
}
/* line 237, ../../src/sass/_components.scss */
.info-icon img {
  width: 25px;
}

/* line 242, ../../src/sass/_components.scss */
.onboarding-next {
  border: 2px dashed white;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}
/* line 247, ../../src/sass/_components.scss */
.onboarding-next p {
  font-size: 0.9rem;
  float: left;
  padding: 0;
  margin: 0;
  padding: 0.2rem 0;
}
/* line 255, ../../src/sass/_components.scss */
.onboarding-next button {
  background: white;
  border: none;
  padding: 0.3rem 0.8rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  float: right;
}

/* line 265, ../../src/sass/_components.scss */
.settings-news {
  border: 2px dashed white;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  position: absolute;
  right: 1rem;
  top: 4rem;
  width: 12rem;
  z-index: 10;
}
/* line 275, ../../src/sass/_components.scss */
.settings-news p {
  font-size: 0.9rem;
  float: left;
  padding: 0;
  margin: 0;
  padding: 0.2rem 0;
  margin-bottom: 1rem;
}
/* line 284, ../../src/sass/_components.scss */
.settings-news button {
  background: white;
  border: none;
  padding: 0.3rem 0.8rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
  float: left;
}

/* line 294, ../../src/sass/_components.scss */
footer {
  width: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  height: 0;
  opacity: 0;
  left: 0;
  transition: all .3s ease .15s;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  color: white;
}
/* line 308, ../../src/sass/_components.scss */
footer h2 {
  float: left;
  padding: 1rem 0 1rem 3rem;
  font-size: 1rem;
}
/* line 314, ../../src/sass/_components.scss */
footer a {
  font-weight: 600;
  color: white;
}
/* line 319, ../../src/sass/_components.scss */
footer div {
  padding: 1.5rem 3rem;
  float: left;
  width: calc(100% - 20rem);
  font-size: 0.8rem;
}
/* line 326, ../../src/sass/_components.scss */
footer .twitter-link {
  width: 1.8rem;
  height: 1.8rem;
  float: right;
  margin: 2rem 3rem;
}
/* line 332, ../../src/sass/_components.scss */
footer .twitter-link img {
  width: 100%;
}

/* line 338, ../../src/sass/_components.scss */
.show-footer {
  opacity: 1;
  height: auto;
  min-height: 9rem;
}
