<div id="settings"  ng-click="toggleSettingsMenu()">
    <img src="img/settings-icon.png">
</div>
<div id="settings-menu">
	<a class="settings-link" ng-click="showMemorizeInfo()">Тохиргоо</a>
  	<div id="memorize-info">
  		<toggle-elt class-name='duudlaga'></toggle-elt><p>Дуудлага</p>
  		<div class="clear-both"></div>
  		<toggle-elt class-name='meaning'></toggle-elt><p>Орчуулга</p>
  		<div class="clear-both"></div>
  	</div>
  	<a class="settings-link" ng-click='toggleList()'>Цээжлэх үгийн жагсаалт - Нийт <i>{{ memorizeFactory.data.memorize.length }} үг</i></a>
  	<div id="list-wrapper">
  		<p ng-repeat='memorize in memorizeFactory.data.memorize'>{{ memorize.character }} - {{ memorize.meanings }}</p>
  	</div>
</div>
