@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
body {
  height: 100vh;
}

* { box-sizing: border-box }

body {
  font-family: 'Roboto', sans-serif;
  
  display: -webkit-box;
  
  display: -webkit-flex;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  
  background: black;
}

span {
  letter-spacing: 0.75em;
  text-shadow: 0 0 0px white;
  color: white;
}

.glitch {
  color: black;
  font-size: 200%;
}